.img-card{
    margin: 5px 0px;
    transition: .1s;
    
    
}

.container:hover{
    transform: scale(1.01);
    cursor: pointer;

}

.btn-collection-playing{
     
    max-width: 110px;
    margin:  2em auto;
}